.text-logo {
    position: fixed; /* Fixed position for consistent placement */
    top: 0px; /* Adjust this value to vertically center if needed */
    left: 94%; /* Centers horizontally */
     /* Centers by adjusting the X-axis */
    font-size: 2rem; /* Adjust size as needed */
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    color: #ffd935; /* Yellow color */
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
    letter-spacing: -3px; /* Adjust based on how the text should look */
}

.text-logo:hover {
    color: #fff; /* Optional hover effect */
}
