
  .overlay3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
  }
  
  .overlay3 h1 {
    font-size: 3rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font for the title */
    position: relative;
    top: -100px;
  }
  
  .overlay3 p {
    font-size: 2rem;
    margin: 0;
    font-family: 'Playfair Display', serif; /* Apply Playfair Display font */
    position: relative;
    top:-100px;
  }

  .background-about {
    position: relative;
    width: 100%;
    height: 100vh; 
    background: url('../assets/backgroundImage.png') no-repeat center center/cover;
    filter: brightness(50%);
    
  }