.overlay2 {
  position: relative;
  top: 40%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  justify-content: center;
  align-items: center;
   /* Ensure it doesn't stretch too wide */
}

.quotey {
  font-family: 'Bona Nova SC', serif;
  font-size: 50px; /* Adjust font size to fit better over multiple lines */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Enhanced shadow for better readability */
  line-height: 1.5;
  color: white;
  background-color: transparent; /* Add white background */
  border: 2px solid white; /* Add black border */
  padding: 20px; /* Add padding for spacing inside the quote box */
  border-radius: 10px; /* Add rounded corners */
  opacity: 0;
  position: relative;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */
  max-width: 60%;
  margin: 0 auto; /* Center horizontally */
  word-break: break-word; /* Ensure words wrap properly */
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
}

.quotey.fade-in {
  opacity: 1;
  transform: translateY(-20px); /* Slight upward movement */
}

.quote-button2 {
  position: relative;
  top: 40%;
  padding: 10px 20px; /* Increase padding */
   /* Add margin */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
  background-color: black; /* Green background */
  color:#ffd935;; /* White text */
  font-family: "Oswald", sans-serif;
}

.quote-button2.fade-in {
  opacity: 1;
}

.quote-button2:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: white; /* Change background to white on hover */
  color: black; /* Change text to green on hover */
}

.whosays {
  color: #ffd935; /* White text */
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}

.search-bar-container {
  position: relative; /* Make the search container relative to handle the absolute dropdown */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 30px 0 0 30px; /* Rounded corners for left side */
  border: 2px solid #ffd935;
  width: 350px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #ffd935;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on focus */
}

.search-button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 0 30px 30px 0; /* Rounded corners for right side */
  border: 2px solid #ffd935;
  background-color: #ffd935;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Matching shadow for button */
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  background-color: black;
  color: #ffd935;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.search-button:active {
  transform: scale(0.98); /* Slight press-down effect */
}

.suggestions-list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: #ffd935;
  border: 1px solid #ffd935;
  border-radius: 0 0 5px 5px;
  width: 350px;
  position: absolute;
  z-index: 1000;
  top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: black;
  text-transform: uppercase; /* Force uppercase display */
}

.suggestion-item:hover {
  background-color: #ffd935;
  color: black;
}

.search-bar-container {
  position: relative; /* Make the search container relative to handle the absolute dropdown */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  height: 100vh;
  padding: 20px;
}


@media (min-width:0px) and (max-width: 343.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width:344px) and (max-width: 360.99px) {
  .quotey {
    font-size: 26pt; /* Larger font size for smaller screens */
     /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    
  }

.overlay2 {
  top: 60%;

}

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 35%;
    
  }
}

@media (min-width:344px) and (max-width: 361.99px) {
  .quotey {
    font-size: 24pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .overlay2 {
    top: 40%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }

}


/* Extra small devices (phones, less than 576px) */
@media (min-width: 362px) and (max-width: 392.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width:393px) and (max-width: 395.99px) {

  .quotey {
    font-size: 20pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    height: auto;
  }

  .quote-button2 {
    margin-top: 40%;
    
    
  }
}

/* Small devices (small laptops, tablets, 576px and up) */
@media (min-width: 430px) and (max-width: 576.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width: 577px) and (max-width: 821.99px) {
  .quotey {
    font-size: 48pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    margin-top: 130px;
  }

  .overlay2 {
    top: 40%;
  
  }
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width: 822px) and (max-width: 1024px) {
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}