.overlay-i {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
}

.middle-image {
    width: 20%;
    height: auto;
    margin-bottom: 50px; /* Space between the image and button */
    border: 5px solid #fff; /* Add white border */
    border-radius: 10px; /* Round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visual appeal */
    transition: transform 0.3s ease, opacity 1s ease-in-out; /* Add smooth transition for hover effect and fade-in */
    opacity: 0; /* Initially hidden */
    
}

.middle-image.fade-in {
    opacity: 1;
}

.middle-image:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

.image-button {
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 24px; /* Increase font size */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    border: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 0; /* Initially hidden */
    background-color: black; /* Green background */
    color:#ffd935;; /* White text */
    font-family: "Oswald", sans-serif;    
    margin-top: 5%;
    transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
}

.image-button.fade-in {
    opacity: 1;
    transform: translateY(-20px); /* Slight upward movement */
}

.image-button:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    background-color: white; /* Change background to white on hover */
    color: black; /* Change text to green on hover */
}

@media (min-width:0px) and (max-width: 391px) {
    .middle-image {
        width: 100%;
       max-width: 100%;
        

    }
  }

  @media (min-width:393px) and (max-width: 395.99px) {
    .middle-image {
        width: 100%;
       max-width: 100%;
    }

    .image-button {
        margin-top: 8%;
       }
  }

  @media (min-width: 410px) and (max-width: 429.99px) {
 
    .middle-image {
        width: 100%;
       max-width: 100%;
    }

    .overlay-i {
        top: 40%;
        position: relative;
    }

   .image-button {
    margin-top: 12%;
   }
  
  }



  
  @media (min-width: 430px) and (max-width: 567.99px) {
    .middle-image {
        width: 90%;
       max-width: 100%;
    
    }
  }

  @media (min-width: 577px) and (max-width: 821px) {
    .middle-image {
        width: 90%;
       max-width: 100%;
    
    }
  }


  @media (min-width: 822px) and (max-width: 1024px) {
    .middle-image {
        width: 90%;
       max-width: 100%;
    
    }
    .overlay-i {
        top: 40%;
        position: relative;
    }
  }

  