.overlay2 {
  position: relative;
  top: 40%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  justify-content: center;
  align-items: center;
   /* Ensure it doesn't stretch too wide */
}

.quotey {
  font-family: 'Bona Nova SC', serif;
  font-size: 5rem; /* Adjust font size to fit better over multiple lines */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Enhanced shadow for better readability */
  line-height: 1.5;
  color: white;
  background-color: transparent; /* Add white background */
  border: 2px solid white; /* Add black border */
  padding: 20px; /* Add padding for spacing inside the quote box */
  border-radius: 10px; /* Add rounded corners */
  opacity: 0;
  position: relative;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */
  max-width: 100%;
  margin: 0 auto; /* Center horizontally */
  word-break: break-word; /* Ensure words wrap properly */
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
}

.quotey.fade-in {
  opacity: 1;
  transform: translateY(-20px); /* Slight upward movement */
}

.quote-button2 {
  position: relative;
  top: 40%;
  padding: 10px 20px; /* Increase padding */
   /* Add margin */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
  background-color: black; /* Green background */
  color:#ffd935;; /* White text */
  font-family: "Oswald", sans-serif;
}

.quote-button2.fade-in {
  opacity: 1;
}

.quote-button2:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: white; /* Change background to white on hover */
  color: black; /* Change text to green on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  height: 100vh;
  padding: 20px;
}


@media (min-width:0px) and (max-width: 343.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width:344px) and (max-width: 360.99px) {
  .quotey {
    font-size: 26pt; /* Larger font size for smaller screens */
     /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    
  }

.overlay2 {
  top: 60%;

}

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 35%;
    
  }
}

@media (min-width:344px) and (max-width: 361.99px) {
  .quotey {
    font-size: 24pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .overlay2 {
    top: 40%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }

}


/* Extra small devices (phones, less than 576px) */
@media (min-width: 362px) and (max-width: 392.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width:393px) and (max-width: 395.99px) {
  .quote-button2 {
    
    top: 45%;
    
  }
}

/* Small devices (small laptops, tablets, 576px and up) */
@media (min-width: 430px) and (max-width: 576.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width: 577px) and (max-width: 821.99px) {
  .quotey {
    font-size: 48pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    
  }

  .overlay2 {
    top: 40%;
  
  }
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width: 822px) and (max-width: 1024px) {
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}



