html, body {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  margin: 0; /* Ensure there is no margin to avoid unwanted scrolling behavior */
  padding: 0; /* Ensure there is no padding to avoid unwanted scrolling behavior */
  overflow-x: hidden;
  width: 100%;
}


.section {
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  position: relative;
  top: -100px;
}

.test-button {
  position: relative;
  top: 10%;
  background-color: #ffd935; /* Green background */
  color:black; /* White text */
  font-family: "Oswald", sans-serif;
  padding: 10px 20px; /* Increase padding */
  margin: 10px; /* Add margin */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out; /* Smooth transition for fade-in effect */
}

.test-button.fade-in {
  opacity: 1; /* Visible after fade-in */
  
}

.test-button:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: white; /* Change background to white on hover */
    color: black; /* Change text to green on hover */
}

.title-home {
  font-size: 17rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
  position: relative;
  text-align: center;
  color: #ffd935;
  top: 0%;
  font-weight: bolder;
  letter-spacing: -15px;
}

.subtitle-home {
  font-size: 5rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
  position: relative;
  text-align: center;
  color: #ffd935;
  top: 0%;
  font-weight: bolder;
  letter-spacing: -1px;
}

.logo {
  position: relative;
  top: 20%;
  left: 25%;
  width: 200px; /* Adjust the size as needed */
  height: auto;
  z-index: 50;
  padding: 0;
  margin:0;
}
/* Samsung Galaxy S8+ */
@media (min-width:0px) and (max-width: 343.99px) {
  .title-home {
    font-size: 65pt;
    letter-spacing: -4px;
  }

  .subtitle-home {
    font-size: 25pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 14px;
    font-size: 20pt;
    top: 30%;
  }

  .logo {
    width: 60px;
    position: relative;
    top: 8.5%;
    left: 52%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}
/* Galaxy Z Fold 5 */
@media (min-width:344px) and (max-width: 361.99px) {
  .title-home {
    font-size: 60pt;
    letter-spacing: -4px;
  }

  .subtitle-home {
    font-size: 25pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 14px;
    font-size: 20pt;
    top: 30%;
  }

  .logo {
    width: 60px;
    position: relative;
    top: 8.5%;
    left: 52%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}



/* Iphone SE (375px) */
@media (min-width:362px) and (max-width: 392.99px) {
  .title-home {
    font-size: 60pt;
    letter-spacing: -4px;
  }

  .subtitle-home {
    font-size: 25pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 14px;
    font-size: 20pt;
    top: 30%;
  }

  .logo {
    width: 70px;
    position: relative;
    top: 9%;
    left: 48%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}

@media (min-width:393px) and (max-width: 395.99px) {
  .title-home {
    font-size: 200pt;
    letter-spacing: -4px;
  }

  .subtitle-home {
    font-size: 25pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 14px;
    font-size: 20pt;
    top: 30%;
  }

  .logo {
    width: 70px;
    position: relative;
    top: 9%;
    left: 48%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}


/* misc */
@media (min-width: 396px) and (max-width: 409.99px) {
  .title-home {
    font-size: 40pt;
    letter-spacing: 0px;
  }

  .subtitle-home {
    font-size: 20pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .logo {
    width: 70px;
    
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}

/* Samsung Galaxy S20 Ultra (412px) */
@media (min-width: 410px) and (max-width: 429.99px) {
  .title-home {
    font-size: 75pt;
    letter-spacing: -6px;
  }

  .subtitle-home {
    font-size: 35pt;
  }

  .test-button {
    padding: 8px 16px;
    font-size: 24px;
    top:20%;
  }

  .logo {
    width: 60px;
    top: 8%;
    left: 50%;
  }
  
  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}

/* Iphone 14 pro max (430px) */
@media (min-width: 430px) and (max-width: 539.99px) {
  .title-home {
    font-size: 70pt;
    letter-spacing: -5px;
  }

  .subtitle-home {
    font-size: 30pt;
  }

  .test-button {
    padding: 10px 20px;
    font-size: 24px;
    top: 20%;
  }

  .logo {
    width: 75px;
    top: 9%;
    left: 48%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}

@media (min-width: 540px) and (max-width: 576.98px) {
  .title-home {
    font-size: 100pt;
    letter-spacing: -5px;
  }

  .subtitle-home {
    font-size: 30pt;
  }

  .test-button {
    padding: 10px 20px;
    font-size: 24px;
    top: 20%;
  }

  .logo {
    width: 75px;
    top: 12%;
    left: 50%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}


/* Ipad Mini (768px) */
@media (min-width: 577px) and (max-width: 821.99px) {
  .title-home {
    font-size: 120pt;
    letter-spacing: -8px;
  }

  .subtitle-home {
    font-size: 40pt;
  }

  .test-button {
    padding: 10px 20px;
    font-size: 35px;
    top: 20%;
  }

  .logo {
    width: 90px;
    top: 11%;
    left: 44%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}

@media (min-width: 822px) and (max-width: 913px) {
  .title-home {
    font-size: 150pt;
    letter-spacing: -8px;
  }

  .subtitle-home {
    font-size: 50pt;
  }

  .test-button {
    padding: 10px 20px;
    font-size: 35px;
    top: 20%;
  }

  .logo {
    width: 100px;
    top: 10%;
    left: 46%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}


/* Ipad Pro (1024px) */
@media (min-width: 914px) and (max-width: 1024px) {
  .title-home {
    font-size: 180pt;
    letter-spacing: -13px;
  }

  .subtitle-home {
    font-size: 50pt;
  }

  .test-button {
    padding: 10px 20px;
    font-size: 35px;
    top: 20%;
  }

  .logo {
    width: 120px;
    top: 11%;
    left: 48%;
  }

  .section {
    max-width: 100%;
    top: 20%;
    padding: 0;
  }
}






@font-face {
  font-family: 'Oswald';
  src: url('../assets/font/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bona Nova SC';
  src: url('../assets/font2/BonaNovaSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


