.overlay4 {
  position: relative;
  top: 40%; /* Adjust as needed to vertically center */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.quotey4 {
  font-family: 'Arial', sans-serif;
  font-size: 15pt;
  line-height: 1.6;
  color: #ffffff; /* Ensure the text color is white */
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  height: 500px;
  margin: 20px auto;
  word-break: break-word;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
  border: 1px solid #ffd935;
  
  position: relative;
  background-image: url('../assets/jordan1.jpg'); /* Correct path to your image */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  
  /* Centering Content */
  display: flex;  /* Use flexbox for centering */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  text-align: center;
}

.quotey4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6 ); /* Make background dimmer */
  border-radius: 15px;
  z-index: 1;
}

.thequote4 {
  color: #ffffff; /* Ensure the text is white */
  /* No background color */
  z-index: 2; /* Keep text above the overlay */
  position: relative; /* Position text above any other elements */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add subtle shadow to enhance visibility */
  width: 500px;
  height: auto;
  font-size: 20pt;
  
}

/* Ensure the text remains above the overlay */
.quotey4 p {
  position: relative;
  z-index: 2; /* Make sure the text is above the overlay */
  margin: 0;
}




/* Ensure the text remains above the overlay */
.quotey4 p {
  position: relative;
  z-index: 2; /* Make sure the text is above the overlay */
  margin: 0;
}



.quotey4:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.6);
}

.quotey4.fit-text {
  font-size: calc(50px + (25 - 50) * ((100vw - 300px) / (1600 - 300)));
}

.quotey4.fade-in {
  opacity: 1;
  transform: translateY(-20px); /* Slight upward movement */
}

.quote-button4 {
  position: relative;
  top: 40%;
  padding: 10px 20px; /* Increase padding */
   /* Add margin */
  border-radius: 5px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
  background-color: black; /* Green background */
  color:#ffd935;; /* White text */
  font-family: "Oswald", sans-serif;
}

.quote-button4.fade-in {
  opacity: 1;
}

.quote-button4:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: white; /* Change background to white on hover */
  color: black; /* Change text to green on hover */
}

.whosays4 {
  color: #ffd935; /* Bright yellow color */
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 30pt; /* Increase the font size */
  margin-bottom: 20px; /* Increase space below */
  padding: 0; /* Remove padding */
  line-height: 1.2; /* Adjust line height */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Add shadow for depth */
  text-transform: uppercase; /* Capitalize text */
}

.rounds4 {
  color: #ffd935;
  font-size: 20pt; /* Increase font size */
  padding: 0;
  margin-top: -20px; /* Adjust margin to bring closer to the title */
  letter-spacing: 1px; /* Slightly increase letter spacing */
  font-weight: bold;
  text-transform: uppercase; /* Capitalize text */
}

.search-bar-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Increase space above the search bar */
}

.search-input4 {
  padding: 12px 20px; /* Increase padding */
  font-size: 18px;
  border-radius: 50px; /* Rounded corners */
  border: 2px solid #ffd935;
  width: 400px; /* Increase input width */
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: all 0.3s ease-in-out;
}

.search-button4 {
  padding: 12px; /* Increase space between input and button */
  font-size: 18px; /* Increase font size */
  border-radius: 50px; /* Fully rounded button */
  border: transparent;
  background-color: transparent; /* Yellow background */
  color: black;
  cursor: pointer;
   /* Add shadow */
  transition: all 0.3s ease-in-out;
}


.search-button4:active {
  transform: scale(0.98); /* Slight press-down effect */
}

.search-button4:hover {
  background-color: white; /* Change background on hover */
  color: black; /* Change text color */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.search-icon4 {
  width: 45px; /* Set the desired width for the search icon */
  height: 45px; /* Set the desired height for the search icon */
}

.search-input:focus {
  border-color: #ffd935; /* Highlight border on focus */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on focus */
}
.search-input4.incorrect-guess4 {
  border-color: orangered;
  background-color: #ffdada;
}

.suggestion-item4.incorrect-guess4 {
  color: orangered;
}

.guess-tracker4 {
  color: #ffd935;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
}

.incorrect-guesses4 {
  margin-top: 20px;
  height: auto; /* Adjust height */
  font-size: 18px;
}

.guess-number4 {
  color: #ffd935 ;
}

.incorrect-guess-text4 {
  color: #ff2c2c; /* Red color for incorrect guesses */
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
}

.hint-container4 {
  margin-top: 20px; /* Space between the buttons and the hint container */
}

.hint-bubble4 {
  position: relative;
  background-color: #ffd935; /* Bright yellow background */
  color: black;
  padding: 15px 20px; /* Increase padding for better spacing */
  border-radius: 20px; /* Rounder corners */
  font-size: 14px; /* Slightly larger font size for readability */
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Modern and clean font */
  margin-top: 20px;  /* Space between the hint and other elements */
  display: inline-block;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); /* Softer, more modern shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Add hover effect to give the hint more interaction */
.hint-bubble4:hover {
  background-color: #ffce00; /* Slightly lighter yellow on hover */
  transform: translateY(-5px); /* Subtle lift on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Adjust the arrow under the bubble */
.hint-bubble4:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #ffd935 transparent transparent transparent;
}

.hint-bubble4:hover:after {
  border-color: #ffce00 transparent transparent transparent; /* Change arrow color on hover */
}

.button-container4 {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.suggestions-list4 {
  position: absolute;
  top: 100%;  /* Make sure it appears just below the input */
  left: 600px; /* Align to the left side of the search bar */
  width: 440px; /* Full width of the parent container (search bar) */
  background-color: #ffd935;
  border: 1px solid #ffd935;
  border-radius: 30px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;  /* Limit height and make it scrollable */
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;

}
.suggestions-list4::-webkit-scrollbar {
  width: 5px;  /* Set scrollbar width */
}

.suggestions-list4::-webkit-scrollbar-thumb {
  background-color: #333;  /* Dark scrollbar handle */
  border-radius: 10px;  /* Rounded scrollbar handle */
  /* Adds padding to the handle */
}

.suggestions-list4::-webkit-scrollbar-track {
    /* Matches the list background */
  border-radius: 10px;
}

.suggestion-item4 {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-transform: capitalize;
}

.suggestion-item4.highlighted4 {
  background-color:white;
  color: black;
}

.suggestion-item4:hover {
  background-color:white;
  color: black;
}

.search-bar-container4 {
  position: relative; /* Make the search container relative to handle the absolute dropdown */
}



.hint-button4, .audio-button4 {
  position: relative;
  margin: 0 10px;
  font-weight: bold;
  border: 2px solid #ffd935;
  background-color: #ffd935;;
  color: black;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 70px; /* Adjusted size */
  height: 70px; /* Adjusted size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.6);
  
}

.hint-button4:hover, .audio-button4:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: #ffd935; /* Change background color on hover */
  color: black; /* Change text color on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
  filter: opacity(1);
}

.hint-button4:active, .audio-button4:active {
  transform: scale(0.95); /* Press-down effect */
}

.icons4 {
  max-width: 35px; /* Adjusted size */
  height: 35px; /* Adjusted size */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add drop shadow for better visibility */
}

.button-container4 {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between buttons */
}



.hint-button4:hover:after, .audio-button4:hover:after {
  content: attr(data-tooltip); /* Use the data-tooltip attribute for the tooltip content */
  position: absolute;
  bottom: -40px; /* Adjust for tooltip position */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffd935;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.hint-button4:hover:before, .audio-button4:hover:before {
  content: '';
  position: absolute;
  bottom: -15px; /* Adjust for tooltip arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #ffd935 transparent transparent transparent;
}


.suggestion-image4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.hint-button4:active {
  transform: scale(0.98); /* Press-down effect */
}

.section4 {
  height: 100vh;
  padding: 20px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (min-width:0px) and (max-width: 343.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width:344px) and (max-width: 360.99px) {
  .quotey {
    font-size: 26pt; /* Larger font size for smaller screens */
     /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    
  }

.overlay2 {
  top: 60%;

}

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 35%;
    
  }
}

@media (min-width:344px) and (max-width: 361.99px) {
  .quotey {
    font-size: 24pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .overlay2 {
    top: 40%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }

}


/* Extra small devices (phones, less than 576px) */
@media (min-width: 362px) and (max-width: 392.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width:393px) and (max-width: 395.99px) {

  .quotey {
    font-size: 20pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    height: auto;
  }

  .quote-button2 {
    margin-top: 40%;
    
    
  }
}

/* Small devices (small laptops, tablets, 576px and up) */
@media (min-width: 430px) and (max-width: 576.99px) {
  .quotey {
    font-size: 28pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
  }

  .quote-button2 {
    font-size: 1.2rem; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 25%;
    
  }
}

@media (min-width: 577px) and (max-width: 821.99px) {
  .quotey {
    font-size: 48pt; /* Larger font size for smaller screens */
    padding: 15px; /* Adjust padding */
    max-width: 120%;
    width: 100%;
    left: -5%;
    margin-top: 130px;
  }

  .overlay2 {
    top: 40%;
  
  }
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}

@media (min-width: 822px) and (max-width: 1024px) {
  .quote-button2 {
    font-size: 30px; /* Larger font size for smaller screens */
    padding: 15px 30px; /* Adjust padding */
    top: 15%;
    
  }
}