.section1 {
  height: 100vh;
  background: #14213D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
}


.title-home {
  font-size: 20rem;
  color: #FCA311;
  margin: 0;
  text-align: center;
  letter-spacing: -8px; /* Adjust letter spacing to reduce the gap between letters */
  
  padding: 0px;
  margin-bottom: -50px;
}




/* Play button styling */
.test-button {
  margin-top: 40px;
  background-color: transparent;
  color: #FCA311;
  font-size: 1.5rem;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  border: solid #FCA311;
  position: relative;
  overflow: hidden; /* To handle the animated background effect */
  z-index: 1;
}

.test-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FCA311;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.test-button:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.test-button:hover {
  color: black; /* Text color changes to black */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Add a shadow */
  transform: scale(1.1); /* Scale the button slightly */
}


.description {
  font-size: 1.5rem;
  color: #E5E5E5;
  max-width: 700px;
  margin: 20px auto;
}