.overlay-3 {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
   justify-content: center;
   align-items: flex-start;
    width: 100%; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for depth */
    color: white;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    position: relative;

}

.middle-video3 {
    max-width: 450px; /* Increase the width to make the video bigger */
    height: auto;
    margin-right: 20px; /* Add space between video and text */
    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    opacity: 1; /* Make it visible */
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease-in-out;
    z-index: 1000;
}


.text-content3 {
    max-width: 800px; 
    height: 500px;/* Adjust width as needed */
    padding: 20px;
     /* Remove top margin */
    text-align: left;
    margin-left: 20px; /* Align with the video on the left */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.congratulations-title3 {
    text-align: center; /* Center text */
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2em; /* Increase font size */
    color: white; /* Yellow color for the title */
    
}



.congratulations-text3 {
    font-size: 3rem; /* Adjust size */
    color: white; /* Yellow color */
    padding: 0%;
}

.video-description3 {
    text-align: left; /* Center text */
    color: white;
    font-size: 18px;
    line-height: 1.6;
    max-width: 90%; 
    height: auto;/* Ensure text width doesn’t overflow */
    margin: 20px auto; /* Space around the text */
    font-family: 'Arial', sans-serif;
}

.influencer-name3 {
    color: #FCA311; /* Yellow color for the name */
    font-size: 3rem; /* Adjust size */
    display: inline;
}

.video-button3 {
    padding: 10px 20px; /* Increase padding */

    font-size: 24px; /* Increase font size */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    border: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 1; /* Initially hidden */
    transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
    position: fixed; /* Changed to fixed positioning */
    bottom: 10px;/* Positioned 20px from the bottom */
    left: 56%; /* Positioned in the middle */
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: #FCA311; /* Green background */
  color: black; /* Button text color */
    font-family: "Oswald", sans-serif; 
    z-index: 1000;
}

.video-button3:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}

.video-button3.fade-in {
    opacity: 1;
    transform: translateY(-20px);
}

.caps {
    text-transform: capitalize;
}


@media (min-width:0px) and (max-width: 360.99px) {
    .middle-video {
        width: 90%;
        max-width: 100%;
        height: auto;
    }

        
    .overlay-v {
        top: 43%;
    }
    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  @media (min-width:361px) and (max-width: 409.99px) {
    .middle-video {
        width: 80%;
        max-width: 100%;
        height: auto;
    }

        
    .overlay-v {
        top: 43%;
    }
    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  

  @media (min-width: 410px) and (max-width: 429.99px) {
    .middle-video {
        width: 70%;
        height: auto;
        max-width: 100%;
    }

    .overlay-content {
        width: 75%;
        position: relative;
    }
  }





  @media (min-width: 430px) and (max-width: 539.99px) {
    .middle-video {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  @media (min-width: 540px) and (max-width: 576.98px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
    }
  }


/* Ipad Air (820px) */
  @media (min-width: 577px) and (max-width: 821.99px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 45%;
    }

    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  
  }


  @media (min-width: 822px) and (max-width: 913.99px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 45%;
    }
    .overlay-content {
        width: 100%;
        
        position: relative;
    }

  }

/* Ipad Pro (1024px) */
  @media (min-width: 914px) and (max-width: 1024px) {

    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 35%;
    }
    .overlay-content {
        width: 100%;
        
        position: relative;
    }

  }