.overlay2 {
  position: relative;
  top: 43%; /* Adjust as needed to vertically center */
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  
}

.quotey {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  line-height: 1.6;
  padding: 30px;
  color: #FCA311;
  width: 600px;
  height: 500px;
  margin: 20px auto;
  word-break: break-word;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
  border: 50px solid black;
  position: relative;
  background-image: url('../assets/kobe2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FCA311;
  overflow: hidden;
  border: solid;
  /* Centering Content */
  display: flex;  /* Use flexbox for centering */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  text-align: center;
}

.quoteandclue {
  
  display: flex;
}

.button-container {
  position: relative;
  
  display: flex;
  flex-direction: column;
  right:650px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.thequote {
  color: white; /* Ensure the text is white */
  /* No background color */
  z-index: 2; /* Keep text above the overlay */
  position: relative; /* Position text above any other elements */
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1); /* Add subtle shadow to enhance visibility */
  width: 500px;
  height: auto;
  font-size: 28pt;
  font-family: "Oswald", sans-serif;
}

/* Add a darker overlay to the background image */
.quotey:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2 ); /* Make background dimmer */
  filter: opacity(0.9);
  z-index: 1;
}

/* Ensure the text remains above the overlay */
.quotey p {
  position: relative;
  z-index: 2; /* Make sure the text is above the overlay */
  margin: 0;
}



.quotey:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.6);
}

.quotey.fit-text {
  font-size: calc(50px + (25 - 50) * ((100vw - 300px) / (1600 - 300)));
}

.quotey.fade-in {
  opacity: 1;
  transform: translateY(-20px); /* Slight upward movement */
}

.quote-button2 {
  position: relative;
  top: 40%;
  padding: 10px 20px; /* Increase padding */
   /* Add margin */
  
  font-size: 24px; /* Increase font size */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
  background-color: black; /* Green background */
  color:#FCA311; /* White text */
  font-family: "Oswald", sans-serif;
}

.quote-button2.fade-in {
  opacity: 1;
}

.quote-button2:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: white; /* Change background to white on hover */
  color: black; /* Change text to green on hover */
}

.whosays {
  color: #FCA311; /* Bright yellow color */
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 30pt; /* Increase the font size */
  margin-bottom: 20px; /* Increase space below */
  padding: 0; /* Remove padding */
  line-height: 1.2; /* Adjust line height */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Add shadow for depth */
  text-transform: uppercase; /* Capitalize text */
}

.rounds {
  color: #FCA311;
  font-size: 20pt; /* Increase font size */
  padding: 0;
  margin-top: -20px; /* Adjust margin to bring closer to the title */
  letter-spacing: 1px; /* Slightly increase letter spacing */
  font-weight: bold;
  text-transform: uppercase; /* Capitalize text */
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Increase space above the search bar */
  
}

.search-input {
  padding: 12px 20px; /* Increase padding */
  font-size: 18px;
   /* Rounded corners */
  border: 2px solid #FCA311;
  width: 400px; /* Increase input width */
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.search-button {
  padding: 12px; /* Increase space between input and button */
  font-size: 18px; /* Increase font size */
  border-radius: 50px; /* Fully rounded button */
  border: transparent;
  background-color: transparent; /* Yellow background */
  color: black;
  cursor: pointer;
   /* Add shadow */
  transition: all 0.3s ease-in-out;
}


.search-button:active {
  transform: scale(0.98); /* Slight press-down effect */
}

.search-button:hover {
  transform: scale(1.1);
  color: black; /* Change text color */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.search-icon {
  width: 45px; /* Set the desired width for the search icon */
  height: 45px; /* Set the desired height for the search icon */
}

.search-input:focus {
  border-color: #FCA311; /* Highlight border on focus */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on focus */
}
.search-input.incorrect-guess {
  border-color: orangered;
  background-color: #ffdada;
}

.suggestion-item.incorrect-guess {
  color: orangered;
}

.guess-tracker {
  color: #FCA311;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px; /* Increase font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
}

.incorrect-guesses {
  margin-top: 20px;
  height: auto; /* Adjust height */
  font-size: 18px;
  
  display: flex;
  justify-content: center; /* Start in the center */
  flex-wrap: nowrap; /* Prevent items from wrapping */
  gap: 10px; /* Adjust the gap between guesses */
}

.guess-number {
  color: #FCA311 ;
}

.incorrect-guess-text {
  color: #ff2c2c; /* Red color for incorrect guesses */
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for visibility */
}


.hint-container {
  position: relative;
}

.disabled-button {
  background-color: #ccc; /* Grey background */
  border-color: #999; /* Grey border */
   /* Disabled cursor */
  filter: opacity(0.5); /* Lower opacity */
   /* Disable clicks */
}

.enabled-button {
  background-color: #FCA311; /* Active yellow background */
  cursor: pointer;
  pointer-events: auto; /* Enable clicks */
  filter: opacity(1);
  border: 2px solid #FCA311;
}

.enabled-button:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: #FCA311;/* Change background color on hover */
  color: black; /* Change text color on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
  filter: opacity(1);
}

.disabled-button:hover {
  transform: scale(1); /* Slightly increase size on hover */
  background-color: grey;/* Change background color on hover */
  color: black; /* Change text color on hover */
   /* Enhanced shadow on hover */
  filter: opacity(1);
}


.hint-bubble1 {
  position: absolute;
  background-color: #FCA311; /* Bright yellow background */
  color: black;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  top: 185px; 
  right: 350px;
  z-index: 10;
  transition: all 0.3s ease;
}

.hint-bubble2 {
  position: absolute;
  background-color: #FCA311; /* Bright yellow background */
  color: black;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  top: 280px; 
  right: 560px;
  z-index: 10;
  transition: all 0.3s ease;
}

.hint-bubble3 {
  position: absolute;
  background-color: #FCA311; /* Bright yellow background */
  color: black;
  padding: 15px 20px;
  
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  top: 280px; 
  right: 560px;
  z-index: 10;
  transition: all 0.3s ease;
}

.hint-bubble4 {
  position: absolute;
  background-color: #FCA311; /* Bright yellow background */
  color: black;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  top: 280px; 
  right: 560px;
  z-index: 10;
  transition: all 0.3s ease;
}


.hint-bubble:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px; /* Position the arrow to the left of the bubble */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #FCA311; /* Make the arrow match the bubble color */
}

/* Add hover effect to give the hint more interaction */
.hint-bubble:hover {
  background-color: white; /* Slightly lighter yellow on hover */
  transform: translateY(-5px); /* Subtle lift on hover */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Adjust the arrow under the bubble */
.hint-bubble:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #FCA311 transparent transparent transparent;
}

.hint-bubble:hover:after {
  border-color: #FCA311 transparent transparent transparent; /* Change arrow color on hover */
}

/* Update the flash animation */
@keyframes flash {
  0%, 100% {
    background-color: #FCA311; /* Original button color */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: #FFEB3B; /* Softer flash color */
    border-color: #FFEB3B transparent transparent transparent;
    box-shadow: 0 0 15px rgba(255, 235, 59, 0.5); /* Subtle shadow */
    transform: scale(1.1);
  }
}

.flash-hint {
  animation: flash 4s infinite; /* Slower animation duration */
}




.suggestions-list2 {
  position: absolute;
  top: 100%;  /* Make sure it appears just below the input */
  left: 810px; /* Align to the left side of the search bar */
  width: 440px; /* Full width of the parent container (search bar) */
  background-color: #FCA311;
  border: 1px solid #FCA311;
   /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;  /* Limit height and make it scrollable */
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
}
.suggestions-list::-webkit-scrollbar {
  width: 5px;  /* Set scrollbar width */
}

.suggestions-list::-webkit-scrollbar-thumb {
  background-color: #333;  /* Dark scrollbar handle */
  border-radius: 10px;  /* Rounded scrollbar handle */
  /* Adds padding to the handle */
}

.suggestions-list::-webkit-scrollbar-track {
    /* Matches the list background */
  border-radius: 10px;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-transform: capitalize;
}

.suggestion-item.highlighted {
  background-color:white;
  color: black;
}

.suggestion-item:hover {
  background-color:white;
  color: black;
}

.search-bar-container {
  position: relative; /* Make the search container relative to handle the absolute dropdown */
}



.hint-button, .audio-button {
  position: relative;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 50px;
  color: black;
  cursor: pointer;
   /* Rounded corners */
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 50px; /* Adjusted size */
  height: 50px; /* Adjusted size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

.hint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hint-description {
  margin-top: -45px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.hint-button:active, .audio-button:active {
  transform: scale(0.95); /* Press-down effect */
}

.icons {
  max-width: 25px; /* Adjusted size */
  height: 25px; /* Adjusted size */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); /* Add drop shadow for better visibility */
}

.button-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between buttons */
}



.hint-button:hover:after, .audio-button:hover:after {
  content: attr(data-tooltip); /* Use the data-tooltip attribute for the tooltip content */
  position: absolute;
  top: -40px;/* Adjust for tooltip position */
  left: 50%;
  transform: translateX(-50%);
  background-color: #FCA311;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.hint-button:hover:before, .audio-button:hover:before {
  content: '';
  position: absolute;
  top: -14px;/* Adjust for tooltip arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #FCA311 transparent transparent transparent;
}


.suggestion-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.hint-button:active {
  transform: scale(0.98); /* Press-down effect */
}

.section {
  height: 100vh;
  padding: 20px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (min-width:0px) and (max-width: 1921px) {
  .quotey {
    height: 350px;
    width: 450px;
  }

  .overlay2 {
    position: relative;
    top: 45%; /* Adjust as needed to vertically center */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    
  }

  .whosays {
    color: #FCA311; /* Bright yellow color */
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    font-size: 30pt; /* Increase the font size */
    margin-top:0px; /* Increase space below */
    padding: 0; /* Remove padding */
    line-height: 1.2; /* Adjust line height */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* Add shadow for depth */
    text-transform: uppercase; /* Capitalize text */
  }
  
  .rounds {
    color: #FCA311;
    font-size: 20pt; /* Increase font size */
    padding: 0;
    margin-top: 20px; /* Adjust margin to bring closer to the title */
    letter-spacing: 1px; /* Slightly increase letter spacing */
    font-weight: bold;
    text-transform: uppercase; /* Capitalize text */
  }

  .button-container {
    right: 600px;
  }

  .hint-bubble1 {
    position: absolute;
    background-color: #FCA311; /* Bright yellow background */
    color: black;
    padding: 15px 20px;
    
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    top: 110px; 
    right: 400px;
    z-index: 10;
    transition: all 0.3s ease;
  }
  
  .hint-bubble2 {
    position: absolute;
    background-color: #FCA311; /* Bright yellow background */
    color: black;
    padding: 15px 20px;
    
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    top: 203px; 
    right: 305px;
    z-index: 10;
    transition: all 0.3s ease;
  }

  .suggestions-list2 {
    position: absolute;
    top: 90%;  /* Make sure it appears just below the input */
    left: 675px; /* Align to the left side of the search bar */
    width: 440px; /* Full width of the parent container (search bar) */
    background-color: #FCA311;
    border: 1px solid #FCA311;
     /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;  /* Limit height and make it scrollable */
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
  }
}