/* styles.css */
body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

#section1 {
  background-color: lightblue;
}

#section2 {
  background-color: lightgreen;
}
