.overlay-v {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    display: flex; /* Use flex to align items vertically */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.middle-video {
    width: 33%; /* Adjust to a smaller size */
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease-in-out;
    z-index: 1000;
}

.congratulations-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.congratulations-text {
    font-size: 60px; /* Make this larger than the rest */
    color: white;
    display: block;
    color: #ffd935;
}

.influencer-name {
    color: #ffd935; /* Yellow color for the name */
    font-size: 40px; /* Slightly smaller or equal to the rest */
    display: inline;
}

.middle-video.fade-in {
    opacity: 1;
}

.middle-video:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
}

.video-button {
    padding: 10px 20px; /* Increase padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 24px; /* Increase font size */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    border: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out, transform 0.5s ease-out; /* Smooth transition for fade-in effect */
    position: relative;
    top: 50px;
    background-color: black; /* Green background */
    color:#ffd935;; /* White text */
    font-family: "Oswald", sans-serif; 
}

.video-button.fade-in {
    opacity: 1;
    transform: translateY(-20px); /* Slight upward movement */
}

.video-button:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    background-color: white; /* Change background to white on hover */
    color: black; /* Change text to green on hover */
}

.description-text {
    font-size: 18px;
    color: white;
    max-width: 400px; /* Adjust as needed */
    text-align: left; /* Align text to the left */
    line-height: 1.6; /* Increase line height for readability */
}

.video-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Space between video and text */
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}





.overlay-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: black;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 700px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: "Oswald", sans-serif;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
    border: 3px solid #ffd935;
    color: white;
}

.overlay-content:hover {
    background-color: #141414; /* Change this color to your desired hover color */
}

.overlay-content p {
    margin: 10px 0;
    font-size: 28px;
    line-height: 1.5;
    color:white;
    
}

.close-overlay {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffd935;
    color: black;
    font-family: "Oswald", sans-serif;
    transition: background-color 0.3s ease;
}

.close-overlay:hover {
    background-color: #222222;
}

.time-left {
    margin-top: 15px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.number-highlight {
    color: #ffd935; /* Set this to your desired color */
    font-weight: bold;
}

.timer-highlight {
    color: #ffd935; /* Set this to your desired color */
    font-weight: bold;
}




@media (min-width:0px) and (max-width: 360.99px) {
    .middle-video {
        width: 90%;
        max-width: 100%;
        height: auto;
    }

        
    .overlay-v {
        top: 43%;
    }
    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  @media (min-width:361px) and (max-width: 409.99px) {
    .middle-video {
        width: 80%;
        max-width: 100%;
        height: auto;
    }

        
    .overlay-v {
        top: 43%;
    }
    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  

  @media (min-width: 410px) and (max-width: 429.99px) {
    .middle-video {
        width: 70%;
        height: auto;
        max-width: 100%;
    }

    .overlay-content {
        width: 75%;
        position: relative;
    }
  }





  @media (min-width: 430px) and (max-width: 539.99px) {
    .middle-video {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  }

  @media (min-width: 540px) and (max-width: 576.98px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
    }
  }


/* Ipad Air (820px) */
  @media (min-width: 577px) and (max-width: 821.99px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 45%;
    }

    .overlay-content {
        width: 80%;
        
        position: relative;
    }
  
  }


  @media (min-width: 822px) and (max-width: 913.99px) {
    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 45%;
    }
    .overlay-content {
        width: 100%;
        
        position: relative;
    }

  }

/* Ipad Pro (1024px) */
  @media (min-width: 914px) and (max-width: 1024px) {

    .middle-video {
        width: 60%;
        height: auto;
        max-width: 100%;
        
    }

    .overlay-v {
        top: 35%;
    }
    .overlay-content {
        width: 100%;
        
        position: relative;
    }

  }