body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0; /* Ensure there is no margin to avoid unwanted scrolling behavior */
  padding: 0; /* Ensure there is no padding to avoid unwanted scrolling behavior */
}

.background-test {
  position: fixed; /* Keep the background fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../assets/backgroundImage.png') no-repeat center center/cover;
  filter: brightness(50%);
  z-index: -1; /* Ensure it stays behind the content */
}

.content {
  position: relative; /* Position content relative to allow scrolling */
  z-index: 1; /* Ensure content stays above the background */
}

.section {
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.test-button {
  position: relative;
    top: 50%;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Increase padding */
    margin: 10px; /* Add margin */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    font-family: 'Arial', sans-serif; /* Match font style */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.section2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }

.title-home {
    font-size: 10rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    color: white;
    top:30%;
    
  }
  
.subtitle-home {
    font-size: 3rem;
    margin: 0;
    font-family: 'Playfair Display', serif;
    position: relative;
    text-align: center;
    color: white;
    top: 30%;
  }